<div fxLayout="column" fxLayoutAlign="space-around left">
    <mat-form-field>
        <h2><input matInput placeholder="title" value="title goes here"></h2>
    </mat-form-field>
    <mat-form-field>
        <p><input matInput placeholder="description" value="lorem ipsum"></p>
    </mat-form-field>
    <h3>Instructions</h3>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
    </div>
</div>

<!-- https://material.angular.io/cdk/drag-drop/overview -->