<div *ngIf="pdfSrc; else loading"></div>
<ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<pdf-viewer
    [src]="pdfSrc" 
    [render-text]="false"
    [original-size]="false"
    [autoresize]="true"
    [show-all]="false"
    (page-rendered)="pageRendered($event)"
    [(page)]="currentPage"
></pdf-viewer>
<!-- <button (click)="prevPage()">prev</button>
<button (click)="nextPage()">next</button>
{{currentPage}} -->
<canvas id="canvas" width="1632" height="2112"></canvas>